.section-intro {
  width: 100%;
  /* background-color: var(--main-bg-color); */
  min-height: 430px;
}

.intro__wrapper {
  position: relative;
  margin: 0 auto;
  /* height: calc(50vh); */
  /* height: calc(100vh - 190px); */
  min-height: 400px;
  max-width: 1200px;
  color: #ffffff;
  /* font-family: "PT Sans Narrow", sans-serif; */
  overflow: hidden;
  background: url("https://source.unsplash.com/1200x1200/?brooklyn+bridge");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: solid 2px var(--contrast-color);
  border-bottom: solid 2px var(--contrast-color);
  border-bottom-right-radius: 200px;
  z-index: 1;
}

.intro {
  margin: 0;
  position: absolute;
  height: calc(100% - 100px);
  width: calc(100% - 60px);
  /* width: calc(50% - 60px); */
  padding: 50px 30px;
  background: rgba(0, 0, 0, 0.5);
}

.intro h1 {
  position: relative;
  top: 50px;
  /* text-transform: uppercase; */
  text-align: right;
  font-size: 4em;
  font-weight: 200;
  z-index: 10;
  margin: 0;
  /* transform: skewX(-15deg); */
}

.intro h4 {
  position: relative;
  top: 100px;
  text-align: right;
  /* text-transform: uppercase; */
  font-size: 2em;
  z-index: 10;
  margin: 0;
  /* transform: skewX(-15deg); */
}

.intro p {
  font-size: 1.5em;
  text-align: right;
}

.intro button {
  position: absolute;
  display: block;
  border: 2px solid #ffffff;
  border-bottom-right-radius: 40px;
  padding: 10px 50px;
  background-color: transparent;
  color: #ffffff;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  right: 40px;
  bottom: 80px;
}

.intro button:hover {
  border: 2px solid #ffffff;
  color: #d0221b;
  background-color: #ffffff;
}

@media all and (max-width: 680px) {
  .intro__wrapper {
    position: relative;
    min-height: calc(100vh - 80px);
    font-size: 12px;
  }
}
