.nav {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 80px;
}

.nav h1 {
  margin: 0;
  padding: 0px 10px;
  font-size: 4em;
  line-height: normal;
  color: #ffffff;
  background-color: #d0221b;
}

.nav h2 {
  margin: 0;
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: 800;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
}

.nav__title {
  flex: 1;
  background-image: none;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  flex: 3;
}

.nav__menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav__menu li {
  display: flex;
  list-style: none;
}

.nav__menu li a {
  margin: 0px 20px;
  text-decoration: none;
  font-size: 2.5em;
  color: #d0221b;
  border-bottom: solid 5px #ffffff;
}

.nav__menu li a:hover {
  color: #ffffff;
  border-bottom: solid 5px #d0221b;
}

.nav__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 3;
  padding: 0 30px;
}

.nav__hamburger {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  opacity: 1;
}

.nav__close {
  padding: 30px;
}

.nav__ham1,
.nav__ham2,
.nav__ham3 {
  width: 35px;
  height: 5px;
  background-color: #d0221b;
  margin: 3px 0;
  border-radius: 0 5px 0 5px;
}
.nav__ham1 {
  width: 40px;
}

.nav__ham2 {
  width: 30px;
}

.nav__x1 {
  width: 40px;
  height: 5px;
  background-color: #d0221b;
  margin: 3px 0;
  border-radius: 0 5px 0 5px;
  transition: all 400ms ease 400ms;
  animation-delay: 1s;
}
.nav__x2 {
  width: 35px;
  height: 5px;
  background-color: #d0221b;
  margin: 3px 0;
  border-radius: 0 5px 0 5px;
  animation-delay: 1s;
  transition: all 400ms ease 400ms;
}

.nav--open .nav__x1 {
  transform: rotate(45deg);
}

.nav--open .nav__x2 {
  transform: rotate(-45deg);
}

.nav__close {
  display: none;
  position: absolute;
  right: 0px;
  padding: 30px;
}

@media all and (max-width: 580px) {
  .nav__hamburger {
    display: flex;
  }

  .nav--open .nav__hamburger {
    transform: translateX(-100vw);
    opacity: 0;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: -100vw;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s cubic-bezier(0.25, 0.1, 0, 1.26);
  }

  .nav__close {
    display: block;
  }

  .nav--open .nav__menu {
    right: 0vw;
  }

  .nav__menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .nav--open .nav__menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .nav__menu li {
    padding: 20px;
  }
}
